<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Settings.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>6FsLGxuGeDI63dYUPflMwg==</value>
            </setting>
            <setting name="LDAPUserName" serializeAs="String">
                <value>AD_turniket@pwr</value>
            </setting>
            <setting name="LDAPEncryptedPassword" serializeAs="String">
                <value>uhh0joeX/12AzuPmHVrz5A==</value>
            </setting>
            <setting name="MaxDBConnectionCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ActivityManagerPath" serializeAs="String">
                <value>\\mcs.br\adm\server\ActivityManager\ActivityManager.exe</value>
            </setting>
            <setting name="ActivityManagerOutputCodePage" serializeAs="String">
                <value>cp866</value>
            </setting>
            <setting name="ActivityManagerConfigsPath" serializeAs="String">
                <value>\\mcs.br\adm\server\ActivityManager\templates\registry</value>
            </setting>
            <setting name="DataModelsCallbackUpdateTimeout" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="CalcDataModelsUpdateTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="UseLDAP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MSPConnectionString" serializeAs="String">
                <value>IMLU/p0C/8AiREcT98nwUYGpZNwyeb2JPC0kuE4+luCowC9PgFaXVvhiAb1Hau031f4f9crgY5xgMDKDWoXN8A==</value>
            </setting>
            <setting name="ClaimsAttachmentsPath" serializeAs="String">
                <value>\\mcs.br\adm\server\Registry\Attachments\Claims</value>
            </setting>
            <setting name="TenanciesAttachmentsPath" serializeAs="String">
                <value>\\mcs.br\adm\server\Registry\Attachments\Tenancies</value>
            </setting>
        </Settings.Properties.Settings>
    </userSettings>
</configuration>